.from_section {
  margin: 50px 0;
}
.from_section .container {
  max-width: 500px;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px 20px;
  text-align: center;
}
.from_section .container h4 {
  color: rgb(3, 19, 68);
  font-size: 23px;
  padding: 15px 0;
}
.from_section .form_label {
  padding: 7px 0;
}
.from_section input {
  width: 90%;
  padding: 12px 15px;
  border: 1px solid rgb(3, 19, 68);
  outline: none;
}
.from_section .button {
  padding: 10px 0;
}
.from_section button {
  background-color: rgb(3, 19, 68);
  color: #fff;
  border: 1px solid rgb(3, 19, 68);
  cursor: pointer;
  width: 220px;
  padding: 12px 0;
  font-size: 18px;
}
.form_footer p {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
}
