.product_form {
  width: 60%;
  background-color: #ccc;
  margin: 50px auto;
  padding: 30px;
}
.product_form h2 {
  text-align: center;
}
.form_label {
  margin: 10px 0;
}
.product_form input,
.product_form select,
.product_form textarea {
  width: 95%;
  outline: none;
  padding: 7px 10px;
  margin-top: 4px;
}
.submit_button {
  margin-top: 30px;
}
.submit_button button {
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
}
